@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
strong {
    @apply font-semibold;
   
    

}



.avoid-orphans
 { word-spacing: 0.25em; } 
 .avoid-orphans::before, 
 .avoid-orphans::after 
 { content: ''; display: inline-block; width: 0.25em;}
