@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  @apply text-gray-800;
}
strong {
    @apply font-semibold;
   
    

}



.avoid-orphans
 { word-spacing: 0.25em; } 
 .avoid-orphans::before, 
 .avoid-orphans::after 
 { content: ''; display: inline-block; width: 0.25em;}

 .custom-dots {
    display: flex !important; /* Ustawienie flexboxa */
    justify-content: center !important; /* Wyśrodkowanie kropek w poziomie */
    align-items: center !important; /* Wyśrodkowanie kropek w pionie */
    gap: 10px; /* Odstęp między kropkami */
  }
  
  .custom-dots li {
    display: flex !important; /* Ustawienie flexboxa dla każdego elementu listy */
    justify-content: center !important; /* Wyśrodkowanie zawartości */
    align-items: center !important; /* Wyśrodkowanie w pionie */
  }
  
  .custom-dots li button {
  display: flex !important; /* Ustawienie flexboxa */
  justify-content: center !important; /* Wyśrodkowanie */
  align-items: center !important; /* Wyśrodkowanie w pionie */
  width: 20px !important ; /* Szerokość */
  height: 20px !important ; /* Wysokość */
  border-radius: 50% !important; /* Zaokrąglenie - zapewnia kształt koła */
  background-color: rgb(244 201 180) !important; /* Kolor domyślny */
  border: none !important; /* Usuń obramowanie */
  overflow: hidden !important; /* Zapobiega wyciekaniu zawartości */
  padding: 0 !important; /* Zapobiega dodatkowym przestrzeniom */
  box-sizing: border-box !important; /* Uwzględnia obramowania w szerokości i wysokości */
}

  
  .custom-dots li.slick-active button {
    background-color:  rgb(167 199 231) !important; /* Inny kolor dla aktywnej kropki */
  }
  